.QuotesCenter {
    background-color: rgb(27, 27, 27);
}

.QuotesCenter .inner {
    display: flex;
}

.QuotesCenter .quotes-list {
    width: 70%;
    background-color: rgb(87, 87, 87);
    color: rgb(0, 0, 0);
    padding: 0 10px;
}

.QuotesCenter .if-no-quotes {
    color: rgb(217, 255, 0);
}