.Sidebar{
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    background-color: rgb(59, 59, 59);
    color: #fff;
}

.Sidebar a{
    color: inherit;
    text-decoration: none;
    font-size: 26px;
}
.Sidebar a.active{
    color: rgb(115, 255, 0);
}
